* { margin: 0; padding: 0; box-sizing: border-box; }
*, *:before, *:after { box-sizing: inherit; }
html { font-size: 100%; }
body { font: 13px Helvetica, Arial; background: #eee;}
div.wait, div.toss,  div.result { position:fixed; left:0; top:0; right:0; bottom:0; background-color: #FFF; background-position: center; background-repeat: no-repeat; background-size: contain; display: none;}
div.wait { background-image:url('../images/loading.gif'); }
div.toss { background-image:url('../images/toss.gif'); }
div.result { background-color: rgba(250,250,250,0.8); z-index:1000; }
div.result span { display: block; margin:auto; text-align: center; font-size: 3rem; background-color:rgba(250, 250, 250, 0.6) !important; color:#333; text-shadow: 1px 1px #000; text-transform: uppercase; line-height: 5rem; position: absolute; top: 10%; left: 20%; }
div.toast { position: absolute; left:.5rem; top:.5rem; background-color:rgba(10,10,10,0.8); color:#FFF; font-size:.8rem; padding:.3rem 1rem; border-radius: 100rem; display: none; }
#info-panel { height:3rem; background-color: #2196F3!important; color:#FFF; text-align: center; text-shadow: 1px 1px #000; text-rendering: optimizeSpeed; display: none; font-size:1.5rem; line-height: 3rem; font-family: verdana; text-transform: uppercase;}
span.info-symbols{ font-size:2rem; }
span.info-turn { color:#000; float: right; font-size: .8rem; text-transform: none; margin: 0 1rem; text-shadow:.3px .3px #fff;}
#info-panel::after { content: ""; display: block; clear: both; }
#grid { height: 95%; width:95%; position:relative; margin:1em auto !important; box-sizing: border-box; display: none; }
div.grid-row{ min-width:100%; display: flex; }
div.grid-item { flex:1 1 5rem; min-height: 5rem; box-sizing: border-box;  background-color: #496FB6; margin:.2rem; color:#FFF; text-align: center; font-size: 2rem; line-height: 5rem; text-shadow: 1px 1px #000; box-shadow: 0 .5rem 1rem 0 rgba(50,50,50,0.2),0 .6rem 1.2rem 0 rgba(50,50,50,0.19)!important; }
div.grid-item:focus,div.grid-item:active { background-color:#A2D7F5; cursor:context-menu;}
